.advantages {
  position: relative;
  padding-top: 119px;
  overflow: hidden;

  &::before {
    position: absolute;
    content: "";
    top: -17%;
    left: 0;
    width: 788px;
    height: 391px;
    background-image: url("../img/advantages/clouds-before.png");
    background-repeat: no-repeat;
  }

  &::after {
    position: absolute;
    content: "";
    top: 12%;
    right: -15%;
    width: 840px;
    height: 280px;
    background-image: url("../img/about/clouds.png");
    background-repeat: no-repeat;
  }

  @include vp-1199 {
    padding-top: 56px;

    &::before,
    &::after {
      display: none;
    }
  }

  @include vp-767 {
    padding-top: 43px;
  }
}

.advantages__swiper {
  overflow: inherit;
  padding: 17px 0 86px;

  span {
    left: 0;
    right: 0;
    width: fit-content;
    margin: 0 auto;
  }

  h2 {
    text-align: center;
    margin-bottom: 46px;
  }

  .swiper-button-next,
  .swiper-button-prev {
    top: auto;
    bottom: 0;
    right: 0;
  }

  .swiper-button-next {
    left: calc(50% + 1px);
  }

  .swiper-button-prev {
    left: calc(50% - 39px);
  }

  @include vp-1199 {
    padding: 12px 0 0;

    .swiper-button-next,
    .swiper-button-prev {
      display: none;
    }
  }

  @include vp-767 {
    padding-top: 4px;

    h2 {
      max-width: 100%;
      margin-bottom: 30px;
    }
  }
}

.advantages__swiper-wrapper {
  @include vp-1199 {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    width: 100%;
  }

  @include vp-767 {
    gap: 15px;
  }
}

.advantages__swiper-slide {
  @include vp-1199 {
    display: flex;
    width: fit-content;
    height: initial;
  }
}

.advantages__swiper-slide-container {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 380px;
  max-height: 329px;
  padding: 124px 20px 38px;
  overflow: auto;
  text-align: center;
  border: 1px solid $color-elephant-opasity;
  background: $color-default-white;

  &::before {
    position: absolute;
    content: "";
    top: 40px;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 54px;
    height: 54px;
    border: 1px solid $color-navy-blue;
    background-image: url("../img/svg/safety.svg");
    background-position: center;
    background-repeat: no-repeat;
  }

  &--expertise {
    &::before {
      background-image: url("../img/svg/expertise.svg");
    }
  }

  &--equipment {
    &::before {
      background-image: url("../img/svg/equipment.svg");
    }
  }

  &--routes {
    &::before {
      background-image: url("../img/svg/routes.svg");
    }
  }

  &--nature {
    &::before {
      background-image: url("../img/svg/nature.svg");
    }
  }

  h4 {
    font-size: 18px;
    font-weight: 600;
    line-height: 100%;
    margin: 0;
  }

  p {
    font-size: 14px;
    line-height: 157%;
    margin: 0;
  }

  @include vp-1199 {
    padding: 103px 20px 28px;
    width: 324px;
    min-height: 272px;
    max-height: fit-content;

    &::before {
      top: 30px;
      width: 48px;
      height: 48px;
    }

    h4 {
      font-size: 16px;
    }

    p {
      font-size: 12px;
      line-height: 150%;
    }
  }

  @include vp-767 {
    width: 100%;
    min-height: 244px;
    padding: 87px 10px 19px;
    gap: 14px;

    &::before {
      top: 20px;
      width: 42px;
      height: 42px;
    }

    h4 {
      font-size: 14px;
    }
  }
}
