.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  color: $color-default-white;
  background-color: $color-navy-blue;
  border: none;
  cursor: pointer;
  transition: opacity $trans-default;
  user-select: none;

  &:hover,
  &:focus-visible {
    outline: none;
    color: $color-resolution-blue;
    background-color: transparent;
    border: 1px solid $color-resolution-blue;
  }

  &:active {
    background-color: $color-resolution-blue;
  }

  &:disabled {
    opacity: 0.5;
    pointer-events: none;
  }

  @include hover-focus {
    opacity: 0.8;
  }
}
