.contacts-map {
  padding: 66px 0 100px;

  .container {
    display: grid;
    grid-template-columns: 483px auto;
    gap: 132px;

    @include vp-1229 {
      width: 94%;
    }

    @include vp-1199 {
      width: 100%;
    }
  }

  @include vp-1199 {
    padding: 76px 0 70px;

    .container {
      grid-template-columns: auto;
      gap: 40px;
    }
  }

  @include vp-767 {
    padding: 64px 0 28px;

    .container {
      gap: 26px;
    }
  }
}
