.menu-header {
  @include vp-1199 {
    margin-top: 0;
    display: grid;
    row-gap: 47px;
    order: -1;

    ul {
      display: none;
      order: 1;
      padding-bottom: 67px;
    }

    li {
      &:not(:last-child) {
        margin-right: 0;
        margin-bottom: 20px;
      }
    }

    a {
      height: 22px;
      font-weight: 700;
      letter-spacing: 0.64px;
      text-transform: uppercase;
      padding-left: 0;

      &:hover,
      &:focus-visible {
        padding: 3px 5px;
        border-bottom: 1px solid currentColor;
      }

      &:active {
        padding: 2px 4px;
        border: 1px solid currentColor;
      }
    }
  }

  @include vp-767 {
    row-gap: 28px;

    ul {
      padding-bottom: 46px;
    }

    li {
      &:not(:last-child) {
        margin-bottom: 16px;
      }
    }

    a {
      height: 20px;
      font-size: 14px;
      letter-spacing: 0.56px;
    }
  }
}
