.photogallery {
  padding-top: 113px;
  max-width: 1440px;
  margin: 0 auto;

  .container {
    position: relative;
    margin-bottom: 44px;

    @include vp-1229 {
      width: 94%;
    }

    @include vp-1199 {
      width: 100%;
    }
  }

  h2 {
    margin-bottom: 24px;
    padding-top: 17px;
  }

  p {
    max-width: 700px;
    margin: 0;
    font-size: 16px;
    line-height: 150%;
  }

  .swiper-button-next,
  .swiper-button-prev {
    bottom: 7px;
    top: auto;
  }

  @include vp-1199 {
    padding-top: 0;

    .container {
      margin-bottom: 36px;
    }

    h2 {
      padding-top: 12px;
    }

    .swiper-button-next,
    .swiper-button-prev {
      bottom: 18px;
    }

    .swiper-button-next {
      right: 5.86%;
    }

    .swiper-button-prev {
      right: calc(5.86% + 42px);
    }

    p {
      max-width: 400px;
      font-size: 14px;
      line-height: 157%;
    }
  }

  @include vp-767 {
    .container {
      padding-bottom: 50px;
      margin-bottom: 14px;
    }

    .swiper-button-next,
    .swiper-button-prev {
      bottom: 0;
    }

    .swiper-button-next {
      right: 4.7%;
    }

    .swiper-button-prev {
      right: calc(4.7% + 42px);
    }

    h2 {
      margin-bottom: 14px;
      padding-top: 4px;
    }

    p {
      max-width: 100%;
      font-size: 12px;
      line-height: 150%;
    }
  }
}

.photogallery__swiper-slide {
  height: 449px;

  ul {
    display: grid;
    grid-template-rows: 179px 265px;
    gap: 5px;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  li {
    margin: 0;
    padding: 0;

    &:last-of-type {
      grid-row: 2/3;
    }
  }

  img {
    height: 100%;
    width: fit-content;
  }

  @include vp-767 {
    height: 259px;

    ul {
      grid-template-rows: 103px 153px;
      gap: 3px;
      margin-left: auto;
      width: fit-content;
    }
  }
}
